.footerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.spacer{
    order: 1;
}
.clock-container {
    order: 2;
}
.exit-container {
    order: 3;
    padding: 2px 6px;
    width: 50px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    
    position: relative;
    overflow: hidden;
}
.exit-container::before {

    content: "";

    position: absolute;

    inset: 0;

    background: linear-gradient(
        90deg,
        transparent,
        var(--gradient-a),
        transparent
        );

    transform: scaleX(0);

    transform-origin: center;

    transition: transform 0.3s ease;

    pointer-events: none;
}
.exit-container:hover::before {
    transform: scaleX(1);
}
.exit-button {
    order: 2;
    width: 50px;
    font-size: 12px;
    height: auto;
    background-color: transparent;
    border: none;
    box-shadow: none;

    background-image: url("../../assets/dark/exit-door.svg");
    background-repeat:no-repeat;
    background-size: contain;
}
.exit-button p {
    padding-left: 15px;
}
.exit-button:hover {
    background-image: url("../../assets/dark/exit-door-shadow.svg");
}