.header {
    display: flex;
    min-height: 100%;
    max-height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    color: var(--text-color);
    gap: 0px;
}
.left {
    order: 1;
    min-width: 300px;
    width: 30%;
    padding: 0px 10px;
}
.left .searchbar {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 100%;
}
.center {
    order: 2;
    width: 60%;
    max-width: 40%;
    display: flex;
    align-items: center;
}
.right {
    order: 3;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    width: 20%;
    min-width: 150px;
}
.right .header-item {
    width: auto;
    color: var(--text-color);
    border-radius: var(--border-radius);
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--secondary-bg);
}
.right .clock p{
    font-size: 12px;
    width: 200px;
}
