.sidebar {
    display: flex;
    background-color: var(--bg);
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}
.logo-container {
    height: 60px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border);
}
.logo-container .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
    flex-grow: 4;
}
.logo-container .text-wrapper .title {
    font-size: 24px;
    order: 1;
    font-weight: bold;
    width: 100%;
    margin: 0px;
    padding: 7px;
    padding-bottom: 0px;
}
.logo-container .text-wrapper .version-tag {
    font-size: 10px;
    order: 2;
    color: var(--accent);
    width: 100%;
    margin: 0px;
    padding-left: 7px;
}
.logo {
  width: 120px;
  height: auto;
  color: var(--accent);
  overflow: visible;
}
@keyframes cephalonCore {
    from {
        color: var(--accent);
    }

    to {
        color: var(--icon-hover);
        scale: 1.05;
    }
}

.logo {
    animation: cephalonCore 5s ease-in-out alternate infinite;
}
.sidebar-items {
    width: 100%;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 10px;
}
.sidebar-item {
    display: flex;
    align-items: center;
    gap: 12px;

    width: 235px;

    padding: 10px;
    border-radius: 8px;

    transition: background 0.15s ease, color 0.15s ease;



    position: relative;
    overflow: hidden;
}
.sidebar-item.active {
    background: radial-gradient(var(--gradient-a), var(--gradient-b));

}
.sidebar-item::after {
    content: "";

    position: absolute;

    bottom: 0;

    left: 50%;
    right: 50%;

    height: 2px;

    background: var(--accent);

    transition:
        left 0.5s ease,
        right 0.5s ease;
}
.sidebar-item:hover::after {
    left: 12%;
    right: 12%;
}
.sidebar-item::before {
    content: "";

    position: absolute;

    inset: 0;

    background: linear-gradient(
        90deg,
        transparent,
        var(--gradient-a),
        transparent
        );

    transform: scaleX(0);

    transform-origin: center;

    transition: transform 0.3s ease;

    pointer-events: none;
}
.sidebar-item:hover::before {
    transform: scaleX(1);
}
.sidebar a {
    text-decoration: none;
    color: var(--link);
    text-decoration: none;
    font-size: 1.15em;
}
.sidebar-item:hover {
    color: var(--text-h);

}

.sidebar-item:active {
    background: var(--accent-bg);
    color: var(accent);
}
.sidebar-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--secondary-bg);
    max-height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -1px 1px var(--accent-bg);
    min-width: 100%;
}
.status-container {
    order: 1;
}
.settings-container {
    order: 2;
    background-color: transparent;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px;
}
.settings-icon {
    max-width: 20px;
    padding: 2px;
    height: auto;
}